{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
    <div class="category-background" style="background-image: url('{{ categoria.background.url }}');">
        <div class="category-name">{{ categoria.nombre }}</div>
    </div>
    <div class="px-6 py-6 bg-gray-200">
        <div class="grid grid-cols-5 gap-10">
            {%for juego in juegos%}
                {% if juego.categoria == categoria %}
                    <div>
                        <div>
                            <img src="{{ juego.imagen.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl"> {{ juego.nombre }} </h2>
                            <p class="text-gray-500"> {{ juego.descripcion }}</p>
                            <p class="text-blue-600"> $ {{ juego.precio|floatformat:0|intcomma }}</p>
                            <button class="bg-green-600 rounded-xl px-3 py-2 mt-2">Agregar</button>
                        </div>

                    </div>
                {%endif%}
            {%endfor%}
        </div>
    </div>

{% endblock content %}



