/* Header background */
.category-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    width: auto; /* Adjust this value to set the desired width */
    height: 400px; /* Adjust this value to set the desired height */
}

.category-name {
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


@media (max-width: 768px) {
    .category-background {
        height: 300px; /* Adjust this value for smaller screens */
    }

    .category-name {
        font-size: 3rem; /* Adjust font size for smaller screens */
    }
}
@media (max-width: 500px) {
    .category-background {
        height: 200px; /* Adjust this value for smaller screens */
    }

    .category-name {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}

/* select {
    border: 10px solid black;
} */